.IndexBody
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 微软雅黑;
	font-size: 12px;
}
.IndexBody form
{
	width: 100%;
	height: 100%;
}
.IndexBody table
{
	width: 100%;
	height: 100%;
}