/*消息纸条*/
.messageNote
{
	width: 238px;
	height: 76px;
	border: solid 1px #73aac4;
	background: url(images/MessageNote/messageNote.png) no-repeat 0 0;
	display: none;
	bottom: -76px;
	right: 0px;
	position: absolute;
	z-index: 99999;
	filter: Alpha(Opacity=85);
	opacity: 0.85;
}
.messageNote #divMessageNoteClose
{
	background: url(images/MessageNote/messageNoteClose.png) no-repeat 0 0;
	width: 10px;
	height: 10px;
	top: 10px;
	right: 10px;
	float: right;
	cursor: pointer;
	position: relative;
}
.messageNote #divMessageNoteContent
{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 25px;
	white-space: normal;
	word-break: break-all;
}
