html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f3f4;
}

.ibox {
    margin-top: 15px;
}

.title {
    height: 48px;
    width: 100%;
    background-color: #fff;
    /*text-align: center;*/
    border-top: 3px solid #58bcff;
}

    .title > h5 {
        color: gray;
        font-family: 微软雅黑;
        /*line-height: 48px;*/
        display: inline-block;
        font-size: 15px;
        margin-left: 10px;
        text-overflow: ellipsis;
    }

    .title > span {
        /*float: right;*/
        /*color: lightgray;*/
        line-height: 48px;
        margin-left: 10px;
    }

.icon {
    margin-left: 3px;
    color: royalblue;
}

.mya {
    margin-left:10px;
    cursor:pointer;
}

.mysp {
     margin-left:10px;
     color:#0066CC;
     font-style:italic;
     font-size:12px;
}

.content {
    /*height: 200px;*/
    width: 100%;
    border-top: 1px solid #e7eaec;
    background-color: #fff;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left:10px;
}

.warnTime {
    color:red;
}