table {
            width: 80%;
            margin: 0 auto;
            margin-top: 20px;
            border: 1px solid lightgray;
        }
        
        table,
        table tr th,
        table tr td {
            border: 1px solid #f2f0f1;
        }
        
        tr {
            height: 45px;
            line-height: 40px;
        }
        
        /*odd表示下标是基数的元素*/
        table tr td:nth-child(odd) {
            width: 100px;
            background-color: #F6F6F6;
            text-align: right;
            padding-right: 10px;
        }
        table tr td:nth-child(even) {
            width: 340px;
            padding-left: 20px;
            padding-right: 15px;
        }